# Copyright (c) 2024 Espressif Systems (Shanghai) Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config DISPLAY_ESP32
	bool "Display interface driver"
	select DMA
	depends on DT_HAS_ESPRESSIF_ESP32_LCD_CAM_DISPLAY_ENABLED
	default y
	help
	  This option enables the display LCD interface for the esp32s3.
